REACT_APP_SUPABASE_URL=https://fjtekqcpvnmblhxeddwt.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqdGVrcWNwdm5tYmxoeGVkZHd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ4MjIwMDcsImV4cCI6MjA2MDM5ODAwN30.RX1foHwcZlaXg8crNXm5x-FgGBPJ1G1gwZeCuyCMT3Y